body{
  background: url("table.png") no-repeat center fixed;
  background-size: cover;
}
.main{
  margin-top: 25px;
  text-align:center;
  font-size: 25px;
  font-style: italic;
}
button{
  margin-top: 430px;
  padding:15px;
  border-radius: 25px;
  font-size: 25px;
  background: linear-gradient(to right,#FF1700,#FF8E00,#FFE400,#06FF00);
  cursor:pointer;
  font-style: italic;
  font-weight: 600;
  color:blue;
}
button:hover{
  background:linear-gradient(to right,#573391,#357C3C,#EF6D6D,#D29D2B);
}
